[workspace]
members = [
    "crates/core",
    "crates/cli",
    "crates/backend",
    "src-tauri",
]

resolver = "2"

[profile.release]
strip = true
lto = true

[patch.crates-io]
serde_json = {git = "https://github.com/horasal/json", branch = "master"}
