@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, winter, dim, lofi;
}
@import 'katex/dist/katex.min.css';
@import 'highlight.js/styles/atom-one-dark.css';

.prose img {
    max-width: 90%;
    max-height: 400px;
    border-radius: 0.5rem;

    cursor: zoom-in;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prose table img {
    max-height: 150px;
    margin: 0.25rem;
    display: inline-block;
}

.prose pre {
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
}
